<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Form</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Admin Form</h1>
        <form id="adminForm" class="p-4">
            <div class="form-group">
                <label for="formname">Name:</label>
                <input type="text" class="form-control" id="formname" name="name" required>
            </div>
            <label>Options:</label><br>

            <br />
            <div class="row">
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="full-name" name="full-name">
                    <label class="custom-control-label" for="full-name">Full Name</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="phone1" name="phone1">
                    <label class="custom-control-label" for="phone1">Phone1</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="phone2" name="phone2">
                    <label class="custom-control-label" for="phone2">Phone2</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="language" name="language">
                    <label class="custom-control-label" for="language">Language</label>
                </div>
            </div>
            
            <div class="row">
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="language2">
                    <label class="custom-control-label" for="language2">Language2</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="mail">
                    <label class="custom-control-label" for="mail">Mail</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="date">
                    <label class="custom-control-label" for="date">Date</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="gradst">
                    <label class="custom-control-label" for="gradst">Graduation Status</label>
                </div>
            </div>

            <div class="row">
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="university">
                    <label class="custom-control-label" for="university">University</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="major">
                    <label class="custom-control-label" for="major">Major</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="address1">
                    <label class="custom-control-label" for="address1">Address1</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="address2">
                    <label class="custom-control-label" for="address2">Address2</label>
                </div>
            </div>


            <div class="row">

                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="civilst">
                    <label class="custom-control-label" for="civilst">Civil status</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="religion">
                    <label class="custom-control-label" for="religion">Religion</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="emergency">
                    <label class="custom-control-label" for="emergency">Emergency</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="citizenship">
                    <label class="custom-control-label" for="citizenship">Citizenship</label>
                </div>
            </div>


            <div class=" row ">
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="gender">
                    <label class="custom-control-label" for="gender">Gender</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="military">
                    <label class="custom-control-label" for="military">Military</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="ccenter">
                    <label class="custom-control-label" for="ccenter">ccenter</label>
                </div>
                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="worklocation">
                    <label class="custom-control-label" for="worklocation">Worklocation</label>
                </div>

                <div class="custom-control custom-checkbox col-3">
                    <input type="checkbox" class="custom-control-input" id="transport">
                    <label class="custom-control-label" for="transport">Transport</label>
                </div>
                <!-- Add more checkboxes as per your list -->
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>

    </div>

</body>

<script src="../static/js/admin.js"></script>

</html>